@font-face {
  font-family: 'Choplin';
  font-style: normal;
  src: url('../fonts/Choplin-Medium-DEMO.eot') format('embedded-opentype'),
       url('../fonts/Choplin-Medium-DEMO.ttf') format('truetype'),
       url('../fonts/Choplin-Medium-DEMO.woff') format('woff'),
       url('../fonts/Choplin-Medium-DEMO.woff2') format('woff2'),    
}