// Colors
$body-background: #ffffff;
$home-background: #171923;
$header-background: #292626;
$content-color-primary: #FFFFFF;
$content-color-secondary: #171923;
$content-color-disabled: #5b5b5b;
$content-color-hover: #e83c41;
$content-color-selected: #e83c41;
$icon-color-check: #00FF00;

// Spacing
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.4rem;
$ml-size: 2rem;
$mxl-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 4.0rem;
$desktop-breakpoint: 45rem;
$table-element-padding: 1rem 1rem 1rem 1rem;

// font different devices
$xs-size-mobile: 0.5rem;

// branding
$branding-color: #2ea7a5